<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mabatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mappers.BoardDAO-mapper">

	<insert id="writeBoard"
		parameterType="com.gaon.prj.board.vo.BoardVO">
		insert into board_tbl
		(pnum,writer,title,content)
		values(board_tbl_seq.nextval,
		#{writer},
		#{title},
		#{content}
		)
	</insert>

	<insert id="blacklist"
		parameterType="com.gaon.prj.member.vo.MemberVO">
		<if test="dcnt > 5">
			insert into blacklist_tbl(bnickname) values(#{nickname})
		</if>
	</insert>

	<select id="boardList"
		parameterType="com.gaon.prj.paging.PagingVO"
		resultType="com.gaon.prj.board.vo.BoardVO">
		SELECT * FROM (
		SELECT ROWNUM RN, A.* FROM (
		SELECT * FROM BOARD_TBL
		WHERE PNUM > 0
		<include refid="searchView"></include>
		ORDER BY PNUM DESC
		) A
		) WHERE RN BETWEEN #{start} AND #{end}
	</select>

	<select id="viewBoard"
		parameterType="com.gaon.prj.board.vo.BoardVO"
		resultType="com.gaon.prj.board.vo.BoardVO">
		SELECT PNUM,WRITER,TITLE,CONTENT,RCNT,WDATE FROM BOARD_TBL
		WHERE PNUM = #{PNUM}
	</select>

	<select id="updateViewForm"
		parameterType="com.gaon.prj.board.vo.BoardVO"
		resultType="com.gaon.prj.board.vo.BoardVO">
		SELECT TITLE,CONTENT WHERE PNUM=#{PNUM}
	</select>

	<update id="increaseRcnt" parameterType="int">
		UPDATE BOARD_TBL SET
		RCNT = RCNT+1 WHERE PNUM=#{PNUM}
	</update>

	<select id="countBoard"
		parameterType="com.gaon.prj.paging.PagingVO" resultType="int">
		SELECT COUNT(*) FROM BOARD_TBL
		WHERE PNUM > 0
		<include refid="searchView"></include>
	</select>

	<update id="updateView"
		parameterType="com.gaon.prj.board.vo.BoardVO">
		update board_tbl
		set writer = #{writer}, title =
		#{title}, content = #{content}
		where pnum = #{pnum}
	</update>

	<delete id="deleteView" parameterType="int">
		DELETE FROM BOARD_TBL
		WHERE PNUM = #{PNUM}
	</delete>

	<update id="praiseMem"
		parameterType="com.gaon.prj.member.vo.MemberVO">
		update member_tbl
		set gcnt = gcnt+1 where nickname =
		#{nickname}
	</update>

	<update id="danMem"
		parameterType="com.gaon.prj.member.vo.MemberVO">
		update member_tbl
		set dcnt = dcnt+1 where nickname = #{nickname}
	</update>
	
	<select id = "getDcnt" parameterType = "com.gaon.prj.member.vo.MemberVO" resultType="int">
		select dcnt from member_tbl where nickname = #{nickname}
	</select>

	<sql id="searchView">
		<if test="searchOption=='title' and keyword != '' ">
			AND TITLE like '%'||#{keyword}||'%'
		</if>

		<if test="searchOption=='content' and keyword != '' ">
			AND CONTENT like '%'||#{keyword}||'%'
		</if>

		<if test="searchOption=='writer' and keyword != '' ">
			AND WRITER like '%'||#{keyword}||'%'
		</if>
	</sql>
</mapper>