<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mabatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mappers.ChatroomDAO-mapper">

	<insert id="add" parameterType="map">
		insert into chatroom_tbl
		(cno,id,title) values
		(room_seq.nextval,#{id},#{title})
	</insert>

	<select id="roomList"
		resultType="com.gaon.prj.chatroom.vo.ChatroomVO">
		select cno,id,title,cdate from chatroom_tbl
	</select>
	
</mapper>